@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     width: 100%;
    background: url(background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}
header{
    width: 100%;
    height: 10vh;
    background:rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 300px;
    height: 10vh;
    background: #550381;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    padding: 10px;
    line-height: 1.3rem;
}
.logo p{
    width: 130px;
    margin-left: 10px;
    font-size: 22px;
    font-weight: bolder;
}
.logo .fas{
    font-size: 70px;
}

ul.navbar{
    display: flex;
    list-style: none;
    z-index: 1;
}
ul.navbar li{
    width: 200px;
    font-size: 20px;
}
ul.navbar li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
ul.navbar li a.active{
    color: white;
    font-weight: bolder;
}
ul.navbar li a:hover:not(.active){
    color: grey;
}

ul.navbar li a.profile {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
}

ul.navbar li a.profile i {
    margin-right: 5px;
}

ul.navbar li a.profile:hover {
    color: grey;
}
#button{
    width: 280px;
    height: 8vh;
    /*background: #550381;*/
    background: #cc04cf;
        /*transition: background-color 0.3s ease;*/
    color: white;
    outline: none;
    border-radius: 20px;
    border: none;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
    padding-right: 40px;
    text-decoration: none; /* Remove default underline */
}

#btn:active {
    text-decoration: underline white; /* White underline on click */
}

#btn .fas{
    margin-right: 10px;
    text-decoration: none;
}
footer{
    padding-top: 3%;
    width: 100%;
    display: flex;
    align-items: center;

}
.footer-body{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.footer-logo{
    height: 12vh;
    background-color: #550381;
    color: #000;
    line-height: 1.7rem;
}
ul h3{
    color: #fff;
    font-weight: 450;
}
ul li{
    list-style: none;
    line-height: 2.5rem;
}
ul li a{
    text-decoration: none;
    color: #fff;
}
ul li a .fab{
    font-size: 1.2rem;
    color: #550381;
    margin-right: 15px;
}
ul li a:hover{
    color: #550381;
}
.footer-bottom{
    width: 100%;
    height: 7vh;
    margin-top: 1%;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
}
.footer-bottom span{
    color: #550381;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
}

.content-wrapper {
    width: 30%; /* Adjust the width as needed */
    /*margin-top: 50px; !* Adjust the top margin as needed *!*/
}

.contact-form {
    background-color: rgba(0, 0, 0, 0.95);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    padding: 45px;
    margin-top: 50px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.contact-form h3 {
    font-size: 1.5em;
    text-align: center;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #cc04cf;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    font-size: 16px;
}

/*.contact-form button[type="submit"]:hover {*/
/*    background-color: #550381;*/
/*}*/

.social-links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

.social-links h4 {
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
}

.social-links li {
    list-style: none;
    margin-right: 15px;
}

.social-links li a {
    text-decoration: none;
    color: #fff;
}

.social-links li a .fab {
    font-size: 1rem;
    color: #cc04cf;
    margin-right: 5px;
}

.social-links li a:hover {
    color: #550381;
}

/*.contact-form {*/
/*    background: rgba(255, 255, 255, 0.1);*/
/*    padding: 20px;*/
/*    border-radius: 10px;*/
/*    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);*/
/*    color: #fff;*/
/*    margin-bottom: 30px;*/
/*}*/

/*.contact-form h3 {*/
/*    font-size: 1.5em;*/
/*    margin-bottom: 15px;*/
/*}*/

/*.contact-form label {*/
/*    display: block;*/
/*    margin-bottom: 5px;*/
/*}*/

/*.contact-form input[type="text"],*/
/*.contact-form input[type="email"],*/
/*.contact-form textarea {*/
/*    width: 100%;*/
/*    padding: 10px;*/
/*    margin-bottom: 10px;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    background-color: rgba(255, 255, 255, 0.1);*/
/*    color: #fff;*/
/*}*/

/*.contact-form textarea {*/
/*    resize: vertical;*/
/*}*/

/*.contact-form button[type="submit"] {*/
/*    width: 100%;*/
/*    padding: 10px;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    background-color: #fec53a;*/
/*    color: #fff;*/
/*    cursor: pointer;*/
/*    transition: background-color 0.3s ease;*/
/*}*/

/*.contact-form button[type="submit"]:hover {*/
/*    background-color: #f5b50e;*/
/*}*/

/*.contact-form {*/
/*    width: 50%; !* Adjust the width as needed *!*/
/*    margin: auto; !* Center the form horizontally *!*/
/*    background: rgba(255, 255, 255, 0.1);*/
/*    padding: 20px;*/
/*    border-radius: 10px;*/
/*    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);*/
/*    color: #fff;*/
/*    margin-bottom: 30px;*/
/*}*/

/*.contact-form h3 {*/
/*    font-size: 1.5em;*/
/*    margin-bottom: 15px;*/
/*}*/

/*.contact-form label {*/
/*    display: block;*/
/*    margin-bottom: 5px;*/
/*}*/

/*.contact-form input[type="text"],*/
/*.contact-form input[type="email"],*/
/*.contact-form textarea {*/
/*    width: 100%;*/
/*    padding: 10px;*/
/*    margin-bottom: 10px;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    background-color: rgba(255, 255, 255, 0.1);*/
/*    color: #fff;*/
/*}*/

/*.contact-form textarea {*/
/*    resize: vertical;*/
/*}*/

/*.contact-form button[type="submit"] {*/
/*    width: 100%;*/
/*    padding: 10px;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    background-color: #550381;*/
/*    color: #fff;*/
/*    cursor: pointer;*/
/*    transition: background-color 0.3s ease;*/
/*}*/

/*.contact-form button[type="submit"]:hover {*/
/*    background-color: #550381;*/
/*}*/

/*.social-links {*/
/*    width: 50%; !* Adjust the width as needed *!*/
/*    margin: auto; !* Center the social links horizontally *!*/
/*    display: flex;*/
/*    justify-content: center; !* Center the social links horizontally *!*/
/*    align-items: center;*/
/*    flex-wrap: wrap; !* Allow wrapping for smaller screens *!*/
/*}*/

/*.social-links h3 {*/
/*    width: 100%;*/
/*    text-align: center;*/
/*    color: #fff;*/
/*    font-weight: bold;*/
/*    margin-bottom: 10px;*/
/*}*/

/*.social-links li {*/
/*    list-style: none;*/
/*    margin-right: 15px;*/
/*}*/

/*.social-links li a {*/
/*    text-decoration: none;*/
/*    color: #fff;*/
/*}*/

/*.social-links li a .fab {*/
/*    font-size: 1.2rem;*/
/*    color: #550381;*/
/*    margin-right: 5px;*/
/*}*/

/*.social-links li a:hover {*/
/*    color: #550381;*/
/*}*/