{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h2>Payment History</h2>
    {% if payments %}
    <table class="table">
        <thead>
            <tr>
                <th>Game Title</th>
                <th>Amount</th>
                <th>Card Number</th>
                <th>Payment Date</th>
            </tr>
        </thead>
        <tbody>
            {% for payment in payments %}
            <tr>
                <td>{{ payment.game_name }}</td>
                <td>{{ payment.amount }}</td>
                <td>**** **** **** {{ payment.card_last_four}}</td>
                <td>{{ payment.payment_date|date:"Y-m-d H:i" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No payment history found.</p>
    {% endif %}
</div>
{% endblock %}
