{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
    <title>Payment Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-+0n0xVW2eSR5Zgb2q9WrMuuMSwUx6j7U3DBQk5rVjNExlSMXQz/i5XyJ2c5IQF5k" crossorigin="anonymous"></script>
    <link rel="stylesheet" href={% static 'user/signup.css' %}>
    <link rel="stylesheet" href={% static 'payment/style.css' %}>
    <style>
        .button-primary {
            background-color: white;
            color: black;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            width: 100%;
            margin-top: 20px;
            font-weight: bold;
            display: block;
            text-align: center;
            text-decoration: none;
        }

        .button-primary:hover {
            color: red;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="background-container"></div>
{% if not success_message %}
<div class="container-signup">
    <h1>Payment</h1>
    <form method="post">
        {% csrf_token %}
        <label for="id_game_name">Game Name:</label>
        <input type="text" id="id_game_name" name="game_name" value="{{ game_name }}" disabled>
        <br>
        <label for="id_amount">Amount:</label>
        <input type="text" id="id_amount" name="amount" value="{{ amount }}" disabled>
        <br>
        <label for="id_credit_card_number">Credit Card Number:</label>
        {{ form.credit_card_number }}
        {{ form.credit_card_number.errors }}
        <br>
        <label for="id_expiry_date">Expiry Date (MM/YY):</label>
        {{ form.expiry_date }}
        {{ form.expiry_date.errors }}
        <br>
        <label for="id_cvv">CVV:</label>
        {{ form.cvv }}
        {{ form.cvv.errors }}
        <br>
        <div class="form-row text-center"> <!-- Add form-row and text-center for proper alignment -->
            <div class="col-12">
                <button type="submit" class="btn btn-primary mb-2">Pay Now</button>
                <a href="{% url 'game_details' game_id=game_id %}" class="button-primary" role="button">Cancel</a>
            </div>
        </div>
    </form>
</div>
    {% else %}
        <div class="alert alert-success" role="alert">
            {{ success_message }}
        </div>
        <script>
            setTimeout(function() {
                window.location.href = "{% url 'home' %}";  // Redirect to home after 5 seconds
            }, 3000);
        </script>
    {% endif %}
{% endblock %}
