{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <title>Sign In</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-+0n0xVW2eSR5Zgb2q9WrMuuMSwUx6j7U3DBQk5rVjNExlSMXQz/i5XyJ2c5IQF5k" crossorigin="anonymous"></script>
    <link rel="stylesheet" href={% static 'user/login.css' %}>
{% endblock %}


{% block content %}
    <div class="background-container"></div> 

    <div class="title">GameZone</div> 

    <div class="container-login">
        <h1>Login</h1>
        <form method="post">
            {% csrf_token %}
            <label for="id_username">Username:</label>
            {{ form.username }}
            <label for="id_password">Password:</label>
            {{ form.password }}
            <button type="submit">Login</button>
        </form>
        {% if form.errors %}
            <p class="error-message">Invalid username or password.</p>
        {% endif %}
        <p style="..." class="signup-link">Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
    </div>
{% endblock %}
