{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <title>Reset password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-+0n0xVW2eSR5Zgb2q9WrMuuMSwUx6j7U3DBQk5rVjNExlSMXQz/i5XyJ2c5IQF5k" crossorigin="anonymous"></script>
    <link rel="stylesheet" href={% static 'user/password.css' %}>
{% endblock %}


{% block content %}
    <div class="background-container"></div>

    <div class="title">GameZone</div>
    <div class ="container">
  <h2>Password reset complete</h2>
  <p>Your password has been set. You can now login  with your new password.</p>
     <p style="" class="already-account">Login Again  <a href="{% url 'login' %}">Login</a></p>
{% endblock %}
