{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-+0n0xVW2eSR5Zgb2q9WrMuuMSwUx6j7U3DBQk5rVjNExlSMXQz/i5XyJ2c5IQF5k" crossorigin="anonymous"></script>
    <link rel="stylesheet" href={% static 'user/signup.css' %}>
{% endblock %}


{% block content %}
    <div class="background-container"></div>

    <div class="title">GameZone</div>

    <div class="container-signup">
        <h1>Sign Up</h1>
        <form method="post">
            {% csrf_token %}
            <label for="id_username">Username:</label>
            {{ form.username }}
            <label for="id_email">Email:</label>
            {{ form.email }}
            <label for="id_password1">Password:</label>
            {{ form.password1 }}
            <label for="id_password2">Password again:</label>
            {{ form.password2 }}
            <button type="submit">Sign Up</button>
        </form>
        <p style="" class="already-account">Already have an account? <a href="{% url 'login' %}">Login</a></p>
    </div>
{% endblock %}


